@tailwind base;
@tailwind components;

.prose a {
    color: #007bff;
    @apply no-underline;
}


@tailwind utilities;

.prose code::before, .prose code::after {
    content: none;
}

.prose code {
    font-weight: 400;
}